# Capstone Project Part 2: Building a Streaming Platform Recommender Using Classification Models (Modelling)

## Import libraries, install packages and load user preference dataset

In [251]:
#install pycaret and xgboost packages to run the models
#pip install pycaret
#!pip install xgboost

In [253]:
#import relevant libraries to run the models
import pandas as pd
from pycaret.classification import *
import pickle

In [228]:
#load user preference CSV dataset
user_perference_df = pd.read_csv('data/user.csv')

In [230]:
#inspect columns and values inside datset
user_perference_df.head()

,Age,Price,Average_IMDB_ratings,Original_shows_and_movies,Asian_movies_and_shows,Japanese_anime,US_animation,Superheroes_shows_and_movies,Documentaries,Platform_popularity,Total_quantity_of_shows_and_movies,Old_movies_and_shows_before_year_2000,Recommended_platform
0,25,15,9,8,3,4,7,8,6,5,6,2,Disney+
1,27,14,8,0,7,3,8,10,6,4,1,3,Disney+
2,28,15,1,10,1,6,0,5,3,6,6,6,Netflix
3,57,7,6,5,3,5,6,0,9,7,10,8,Amazon_Prime_Video
4,35,13,7,8,5,8,6,2,4,10,6,0,Netflix

## Running Pycaret classification modelling

In [232]:
# Setting up the PyCaret environment with the user preference data, specifying the target variable ('Recommended_platform') and initializing a random session for reproducibility
setup(data = user_perference_df, target = 'Recommended_platform', session_id = 1)

In [233]:
# Compare multiple models and select the best one based on the default evaluation metric
best_model = compare_models()

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

## Top 3 models (et, rf, nb)

1. [Extra Trees Classifier Model](#1.-Extra-Trees-Classifier-Model)
2. [Random Forest Classifier Model](#2.-Random-Forest-Classifier-Model)
3. [Naive Bayes Model](#3.-Naive-Bayes-Model)

#### 1. Extra Trees Classifier Model

In [235]:
# Create an Extra Trees model
et_model = create_model('et')
# Make predictions on the dataset using the Extra Trees model
predict_model(et_model)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

,Age,Price,Average_IMDB_ratings,Original_shows_and_movies,Asian_movies_and_shows,Japanese_anime,US_animation,Superheroes_shows_and_movies,Documentaries,Platform_popularity,Total_quantity_of_shows_and_movies,Old_movies_and_shows_before_year_2000,Recommended_platform,prediction_label,prediction_score
42,16,13,10,6,5,8,4,8,8,9,1,2,Disney+,Disney+,0.46
49,18,8,3,2,6,4,7,1,6,3,8,4,Amazon_Prime_Video,Amazon_Prime_Video,0.69
31,11,7,2,8,5,10,6,5,6,3,10,9,Amazon_Prime_Video,Amazon_Prime_Video,0.67
25,43,13,7,8,8,0,5,7,10,2,5,0,Netflix,Netflix,0.62
4,35,13,7,8,5,8,6,2,4,10,6,0,Netflix,Netflix,0.66
37,44,14,9,6,8,7,1,10,6,2,6,5,Disney+,Disney+,0.52
41,30,11,8,10,5,2,2,7,4,8,4,10,Netflix,Disney+,0.48
40,33,9,1,9,5,6,7,7,10,2,8,4,Amazon_Prime_Video,Amazon_Prime_Video,0.69
50,49,13,5,7,6,5,10,8,5,1,2,3,Disney+,Disney+,0.59
7,27,11,8,7,6,6,9,10,2,0,4,0,Disney+,Disney+,0.65
17,13,15,0,9,8,0,8,2,4,7,7,4,Netflix,Netflix,0.59
58,21,13,3,3,2,0,6,10,6,1,1,0,Disney+,Disney+,0.74
29,13,6,2,1,0,4,7,1,7,0,7,7,Amazon_Prime_Video,Amazon_Prime_Video,0.66
2,28,15,1,10,1,6,0,5,3,6,6,6,Netflix,Netflix,0.50
19,42,9,1,3,6,2,7,8,7,8,9,7,Amazon_Prime_Video,Amazon_Prime_Video,0.69
39,18,8,3,5,7,2,7,8,6,4,9,6,Amazon_Prime_Video,Amazon_Prime_Video,0.66
22,18,12,10,3,1,0,8,1,3,4,5,4,Disney+,Disney+,0.76
33,15,13,4,1,4,9,4,7,3,7,6,1,Netflix,Netflix,0.67

#### 2. Random Forest Classifier Model

In [236]:
# Create a Random Forest model
rf_model = create_model('rf')
# Make predictions on the dataset using the Random Forest model
predict_model(rf_model)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

,Age,Price,Average_IMDB_ratings,Original_shows_and_movies,Asian_movies_and_shows,Japanese_anime,US_animation,Superheroes_shows_and_movies,Documentaries,Platform_popularity,Total_quantity_of_shows_and_movies,Old_movies_and_shows_before_year_2000,Recommended_platform,prediction_label,prediction_score
42,16,13,10,6,5,8,4,8,8,9,1,2,Disney+,Disney+,0.53
49,18,8,3,2,6,4,7,1,6,3,8,4,Amazon_Prime_Video,Amazon_Prime_Video,0.69
31,11,7,2,8,5,10,6,5,6,3,10,9,Amazon_Prime_Video,Amazon_Prime_Video,0.74
25,43,13,7,8,8,0,5,7,10,2,5,0,Netflix,Netflix,0.59
4,35,13,7,8,5,8,6,2,4,10,6,0,Netflix,Netflix,0.69
37,44,14,9,6,8,7,1,10,6,2,6,5,Disney+,Disney+,0.53
41,30,11,8,10,5,2,2,7,4,8,4,10,Netflix,Disney+,0.43
40,33,9,1,9,5,6,7,7,10,2,8,4,Amazon_Prime_Video,Amazon_Prime_Video,0.70
50,49,13,5,7,6,5,10,8,5,1,2,3,Disney+,Disney+,0.77
7,27,11,8,7,6,6,9,10,2,0,4,0,Disney+,Disney+,0.71
17,13,15,0,9,8,0,8,2,4,7,7,4,Netflix,Netflix,0.50
58,21,13,3,3,2,0,6,10,6,1,1,0,Disney+,Disney+,0.65
29,13,6,2,1,0,4,7,1,7,0,7,7,Amazon_Prime_Video,Amazon_Prime_Video,0.65
2,28,15,1,10,1,6,0,5,3,6,6,6,Netflix,Netflix,0.63
19,42,9,1,3,6,2,7,8,7,8,9,7,Amazon_Prime_Video,Amazon_Prime_Video,0.69
39,18,8,3,5,7,2,7,8,6,4,9,6,Amazon_Prime_Video,Amazon_Prime_Video,0.63
22,18,12,10,3,1,0,8,1,3,4,5,4,Disney+,Disney+,0.83
33,15,13,4,1,4,9,4,7,3,7,6,1,Netflix,Netflix,0.61

#### 3. Naive Bayes Model

In [237]:
# Create a Naive Bayes model
nb_model = create_model('nb')
# Make predictions on the dataset using the Naive Bayes model
predict_model(nb_model)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

,Age,Price,Average_IMDB_ratings,Original_shows_and_movies,Asian_movies_and_shows,Japanese_anime,US_animation,Superheroes_shows_and_movies,Documentaries,Platform_popularity,Total_quantity_of_shows_and_movies,Old_movies_and_shows_before_year_2000,Recommended_platform,prediction_label,prediction_score
42,16,13,10,6,5,8,4,8,8,9,1,2,Disney+,Disney+,0.5129
49,18,8,3,2,6,4,7,1,6,3,8,4,Amazon_Prime_Video,Amazon_Prime_Video,0.9936
31,11,7,2,8,5,10,6,5,6,3,10,9,Amazon_Prime_Video,Amazon_Prime_Video,1.0000
25,43,13,7,8,8,0,5,7,10,2,5,0,Netflix,Netflix,0.9821
4,35,13,7,8,5,8,6,2,4,10,6,0,Netflix,Netflix,0.9997
37,44,14,9,6,8,7,1,10,6,2,6,5,Disney+,Netflix,0.5057
41,30,11,8,10,5,2,2,7,4,8,4,10,Netflix,Disney+,0.6261
40,33,9,1,9,5,6,7,7,10,2,8,4,Amazon_Prime_Video,Amazon_Prime_Video,0.9998
50,49,13,5,7,6,5,10,8,5,1,2,3,Disney+,Disney+,0.8609
7,27,11,8,7,6,6,9,10,2,0,4,0,Disney+,Disney+,0.9837
17,13,15,0,9,8,0,8,2,4,7,7,4,Netflix,Netflix,0.9889
58,21,13,3,3,2,0,6,10,6,1,1,0,Disney+,Disney+,0.9995
29,13,6,2,1,0,4,7,1,7,0,7,7,Amazon_Prime_Video,Amazon_Prime_Video,0.9999
2,28,15,1,10,1,6,0,5,3,6,6,6,Netflix,Netflix,0.9971
19,42,9,1,3,6,2,7,8,7,8,9,7,Amazon_Prime_Video,Amazon_Prime_Video,0.9999
39,18,8,3,5,7,2,7,8,6,4,9,6,Amazon_Prime_Video,Amazon_Prime_Video,0.9940
22,18,12,10,3,1,0,8,1,3,4,5,4,Disney+,Disney+,0.9790
33,15,13,4,1,4,9,4,7,3,7,6,1,Netflix,Netflix,0.9970

## Results
Using information from the above 3 models, the Train Accuracy, Test Accuracy, Discrepancy (between test and train results) as well as the time taken has been gathered into the table below for easy comparison.

| Models                     | Train Accuracy | Test Accuracy | Discrepancy | TT(Sec)    |
|----------------------------|----------------|---------------|-------------|------------|
| **Extra Trees Classifier** | **0.8800**     | **0.9444**    | **0.0644**  | **0.0370** |
| Random Forest Classifier   | 0.8600         | 0.9444        | 0.0844      | 0.0430     |
| Naive Bayes                | 0.8100         | 0.8889        | 0.0789      | 0.0090     |   |

**Conclusion: After comparing between the 3 models, Extra Trees Classifier Model (et) is chosen as the best model. The reason is because it has the highest train accuracy, highest test accuracy and it has the lowest discrepancy between its train and test results. The model which has the lowest discrepancy is the model we will use.**

## Export best performing model (et) into pickle file

In [246]:
# Save the trained Extra Trees Classifier model to a file using pickle
with open('model.pkl', 'wb') as f:
    pickle.dump(et_model, f)

print("Extra Trees Classifier model saved as model.pkl")

Extra Trees Classifier model saved as model.pkl